html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#container,
#main {
    width: 100%;
    height: 100%;
}
#main > svg {
    width: 100%;
    height: 100%;
}
#source,
#footer {
    font-family: sans-serif;
    color: #666;
}
#source {
    position: absolute;
    top: 6px;
    right: 6px;
}
#footer {
    position: absolute;
    bottom: 6px;
    right: 6px;
}
#source a,
#footer a {
    color: #666;
}
